
<div class="row padding">
  <table>
    <thead>
      <th>Time</th>
      <th *ngFor="let flag of displayedFlags">
        {{flag.time | date: 'hh:mm'}}
      </th>
    </thead>

    <tr>
      <td>Class Up</td>
      <td *ngFor="let flag of displayedFlags">
        <app-start-grid-cell-fleet [fleet]="getFleet(flag.classFlagUp)"></app-start-grid-cell-fleet>
      </td>
    </tr>

    <tr>
      <td>Prep</td>
      <td *ngFor="let flag of displayedFlags">
        <app-start-grid-cell *ngIf="flag.prep === 'up'" title="Up" icon="p"></app-start-grid-cell>
        <app-start-grid-cell *ngIf="flag.prep === 'down'" title="Down" icon="p"></app-start-grid-cell>
      </td>
    </tr>

    <tr>
      <td>Class Down</td>
      <td *ngFor="let flag of displayedFlags">
       <app-start-grid-cell-fleet [fleet]="getFleet(flag.classFlagDown)"></app-start-grid-cell-fleet>
      </td>
    </tr>

  </table>
</div>
