<ion-header>
  <app-toolbar-back title="Login"></app-toolbar-back>
</ion-header>

<ion-content class="vertical-center" >

  <app-narrow-form title="Login">

    <ion-list>

      <div class=error>{{error}}</div>

      <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" errorTailor>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="spacebutton" color=primary type="submit">Sign In</ion-button>

        <ion-button fill="clear" strong="true" slot='start' expand="block" routerLink="/auth/recover">Forgoten password? </ion-button>
        <ion-button fill="clear" strong="true" slot='end' expand="block" routerLink="/auth/signup">Create account?</ion-button>

      </form>

      <ion-button expand="block" color=primary class="spacebutton" (click)="signInWith('Google')">Google
      </ion-button>
      <ion-button expand="block" color=primary class="spacebutton" (click)="signInWith('Facebook')">Facebook
      </ion-button>

    </ion-list>

  </app-narrow-form>

</ion-content>
