<ion-item-sliding #slide>

  <ion-item-options side="start" (ionSwipe)="lapSwipe(slide)">
    <ion-item-option (click)="lap.emit(result)" expandable>
      Lap
    </ion-item-option>
  </ion-item-options>

  <ion-item>

    <ion-label *ngIf="result">
      <h2>{{result.boatClass}} - <app-sailnumber [num]="result.sailNumber"></app-sailnumber>
      </h2>
      <p>{{result.helm}}</p>
    </ion-label>

    <ionic-context-menu>
      <ionic-context-menu-item (click)="top.emit(result)">Top</ionic-context-menu-item>
      <ionic-context-menu-item (click)="approaching.emit(result)">Approching</ionic-context-menu-item>
      <ionic-context-menu-item (click)="lap.emit(result)">Lap</ionic-context-menu-item>
      <ionic-context-menu-item (click)="finish.emit(result)">Finish</ionic-context-menu-item>
      <ionic-context-menu-item (click)="retired.emit(result)">Retired</ionic-context-menu-item>
      <ionic-context-menu-item (click)="didNotStart.emit(result)">Did Not Start</ionic-context-menu-item>

    </ionic-context-menu>

  </ion-item>

  <ion-item-options side="end" (ionSwipe)="finishSwipe(slide)">
    <ion-item-option (click)="finish.emit(result)" color="tertiary" expandable>
      Finish
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
