<ion-header>
  <app-toolbar-back title="Change Password"></app-toolbar-back>
</ion-header>

<ion-content class="vertical-center" color="light">
  <app-narrow-form title="Change Password">

    <div class=error>{{error}}</div>

    <form [formGroup]="form" errorTailor (ngSubmit)="changePassword()">

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password" autocomplete="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
      </ion-item>

      <ion-button [disabled]="form.invalid" color=primary type="submit" expand="block" class="spacebutton"  aria-label="Change Password">Set Password
      </ion-button>

    </form>

  </app-narrow-form>

</ion-content>>
