<mat-list-item>
   
   <span matListItemTitle>
      Race {{race().index}}
      <span class="gap"></span>
      {{ race().scheduledStart | date:'MMM d, y'}}
      @if (race().raceOfDay > 1) {
      / {{race().raceOfDay}}
      }
   </span>
   <span>{{ race().status }}</span>
   <span class="gap"></span>
   @if (race().type !== 'Conventional') {
   <span> {{ race().type }} </span>
   <span class="gap"></span>
   }

   @if (race().isAverageLap) {
   <span>Average lap</span>
   }
   <span matListItemMeta>
      <button matIconButton (click)="edit.emit(race())">
         <mat-icon class="green">edit</mat-icon>
      </button>
      <button matIconButton (click)="delete.emit(race())">
         <mat-icon class="warning">delete</mat-icon>
      </button>
   </span>

</mat-list-item>