<ion-list>
  <ion-item *ngFor="let race of races$ | async">
    <ion-label>
        <h3>{{race.fleetId | fleetName: fleets}} - {{race.name}}</h3>
        <p>{{race.scheduledStart | date:'dd-MMM-yyyy  hh:ss'}}</p>
    </ion-label>

    <ion-checkbox color="primary" slot="start" [checked]="isSelected(race)" (ionChange)="checkboxClick(race, $event)"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-button slot="end" (click)=displayAll()>
      ...More Races
    </ion-button>
  </ion-item>
</ion-list>
