<ion-header>
  <app-toolbar-edit [saveDisabled]="form.invalid || !form.dirty" (save)="save()" (cancel)="cancel()">
    <ion-title *ngIf='activeObject'>Edit Series </ion-title>
    <ion-title *ngIf='!activeObject'>Add Series </ion-title>
  </app-toolbar-edit>
</ion-header>

<ion-content>

  <form [formGroup]="form" errorTailor>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fleet</ion-label>
      <ion-select formControlName="fleetId" interface="popover" required>
        <ion-select-option *ngFor="let fleet of (club$ | async)?.fleets" [value]="fleet.id">{{fleet.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Scoring algortihn
        </ion-label>
      </ion-item-divider>

    </ion-item-group>
  </form>

</ion-content>

