<ng-container *ngIf="series$ | async as series;">

  <header>
    <app-toolbar-menu title="Race Series">
      <ion-button slot=end>
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button slot=end>
        <ionic-context-menu icon="ellipsis-vertical-sharp">
          <ionic-context-menu-item icon="copy" (click)="copySeries()">Copy Series</ionic-context-menu-item>
          <ionic-context-menu-item icon="add" (click)="addRace()">Add Reace Series</ionic-context-menu-item>
          <ionic-context-menu-item icon="trash-bin" (click)="deleteSeries(series)">Delete Series</ionic-context-menu-item>
        </ionic-context-menu>
      </ion-button>
    </app-toolbar-menu>
  </header>

  <ion-content>

    <ion-list>
      <ion-item color=medium>
        <ion-label>
          <h2><b> {{series.fleet}} - {{series.name}}</b></h2>
          <h3><b> {{series.startDate | date}} - {{series.endDate | date}}</b></h3>
          <p>Scoring scheme: {{series.scoringScheme.scheme}}</p>
          <p>OOD: {{series.scoringScheme.ood.algorithm}} max races per series: {{series.scoringScheme.ood.maxPerSeries}}</p>
        </ion-label>

        <ion-button slot=end (click)="editSeriesDetails()">Edit</ion-button>
      </ion-item>
      <ion-list-header>
        <ion-label>Races</ion-label>
        <ion-button (click)="addRace()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let race of series.races; let i = index">
        <ion-label>
          <h2>Race {{i+1}}
          </h2>
          <p>
            <ion-text color="secondary">
              Status: {{race.status}} <span *ngIf=!race.isDiscardable>Non discardable</span>
            </ion-text>
          </p>
        </ion-label>
        <ion-label>{{race.scheduledStart | date}}  {{race.scheduledStart | date: "HH:mm"}}</ion-label>
        <ion-button slot="end" fill=clear (click)="editRace(race)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ng-container>
