<app-toolbar title="Enter"></app-toolbar>
<mat-stepper class="content" orientation="horizontal" [linear]="true" #stepper>
   <mat-step [stepControl]="raceSelectionGroup">
      <form [formGroup]="raceSelectionGroup">
         <ng-template matStepLabel>Races</ng-template>

         @if (todaysRaces().length > 0) {
         <mat-selection-list formControlName="enteredRaces">
            @for (race of todaysRaces(); track race.id) {
            <mat-list-option [value]="race">
               <span matListItemTitle>{{ race.seriesName }} - Race {{ race.raceOfDay }}</span>
               <span matListItemLine>{{ race.scheduledStart | date:'shortTime' }}</span>
            </mat-list-option>
            }
         </mat-selection-list>
         } @else {
         <p>No races found for today.</p>
         }

         <div class="actions">
            <button matButton="tonal" matStepperNext [disabled]="raceSelectionGroup.invalid">Next</button>
         </div>
      </form>
   </mat-step>

   <mat-step [stepControl]="competitorDetailsGroup">
      <form [formGroup]="competitorDetailsGroup">
         <ng-template matStepLabel>Details</ng-template>

         <div class="boat-selection">
            <mat-form-field appearance="outline" class="search-field">
               <mat-label>Search For Boat</mat-label>
               <input matInput [formControl]="boatSearchControl" [matAutocomplete]="auto"
                  placeholder="Class, Helm or Sail No">
               <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBoatFn"
                  (optionSelected)="onBoatSelected($event)">
                  @for (boat of filteredBoats(); track boat.id) {
                  <mat-option [value]="boat">
                     @if (boat.isClub) {
                     Club {{ boat.boatClass }} {{ boat.sailNumber }}
                     } @else {
                     {{ boat.boatClass }} {{ boat.sailNumber }} - ({{ boat.helm }})
                     }

                  </mat-option>
                  }
               </mat-autocomplete>
               @if(boatSearchControl.value) {
               <button mat-icon-button matSuffix (click)="boatSearchControl.setValue('')" aria-label="Clear search">
                  <mat-icon>close</mat-icon>
               </button>
               }
            </mat-form-field>
            <button matButton="tonal" type="button" class="dense-button" (click)="createNewBoat()">New Boat</button>
         </div>

         @if (showForm()) {

         <mat-form-field>
            <mat-label>Helm Name</mat-label>
            <input matInput formControlName="helm" placeholder="Helm Name">
         </mat-form-field>

         <mat-form-field>
            <mat-label>Crew Name</mat-label>
            <input matInput formControlName="crew" placeholder="Crew Name (Optional)">
         </mat-form-field>

         <mat-form-field>
            <mat-label>Class</mat-label>
            <mat-select formControlName="boatClass">
               @for (c of cs.club().classes; track c.name) {
               <mat-option [value]="c.name">{{c.name}}</mat-option>
               }
            </mat-select>
            <mat-error>Boat class required</mat-error>
         </mat-form-field>

         <mat-form-field>
            <mat-label>Sail Number</mat-label>
            <input matInput type="number" formControlName="sailNumber" placeholder="e.g. 12345">
         </mat-form-field>

         <mat-form-field>
            <mat-label>Handicap</mat-label>
            <input matInput type="number" formControlName="handicap" placeholder="Handicap (Optional)">
         </mat-form-field>

         @if (isNewBoat()) {
         <mat-checkbox formControlName="saveBoat" class="save-boat-cb">Save boat details to club
            repository</mat-checkbox>
         }
         } @else {
         <div class="placeholder">
            <p>
               <b>Search for boat</b> <br>Enter class, helm or sail number to search
            </p>
            <p>
               press <b>New Boat</b><br>to enter new details
            </p>
         </div>
         }

         <div class="actions">
            <button matButton="outlined" matStepperPrevious>Back</button>
            @if (showForm()) {
              <app-busy-button 
                  (click)="onSubmit()" 
                  [disabled]="competitorDetailsGroup.invalid"
                  [busy]="busy()">
                  Enter
               </app-busy-button > 
            }
         </div>
      </form>
   </mat-step>
</mat-stepper>