<form (ngSubmit)="submit()" [formGroup]="form" novalidate>

   <mat-form-field>
      <mat-label>Schedule date</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="scheduledStart">
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Start of day (for fleet)</mat-label>
      <input matInput type="numeric" inputmode="numeric" formControlName="raceOfDay">
      <mat-error>Value greater then 0 required</mat-error>
      <mat-hint>eg Morning=1, Afternoon=2</mat-hint>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Race type</mat-label>
      <mat-select formControlName="type">
         @for (type of raceTypes; track type) {
         <mat-option [value]="type">{{type}}</mat-option>
         }
      </mat-select>
      <mat-error>Type required</mat-error>
   </mat-form-field>

   <mat-checkbox formControlName="isDiscardable">Is discardable</mat-checkbox>
   <mat-checkbox formControlName="isAverageLap">Is the race an average lap race</mat-checkbox>

   <div class="actions">
      <button [disabled]="form.invalid || !form.dirty" matButton="tonal" type="submit">Save</button>
      @if (race()) {
      <button matButton="outlined" type="button" (click)="deleted.emit(race()!)">Delete</button>
      }
   </div>
</form>