
.container {
  width: 100%;
  border-radius: var(--mat-sys-corner-large);
  overflow-x: scroll;
  overflow-y: scroll;
}

.table {
  table-layout: fixed;
  width: 100%;
}

tr, td {
  border: 0px solid;
}


.cdk-header-row {
  background-color: var(--mat-sys-surface-container-high);
}

.cdk-cell {
  padding: 2px 10px;
  /* Provide a default background for all cells */
  background-color: var(--mat-sys-secondary-container);
}

.cdk-header-cell {
  background-color: var(--mat-sys-surface-container-high);
}

/* Override background for even rows */
.cdk-row:nth-child(even) {
  background-color: var(--mat-sys-primary-container);
}

/* Ensure sticky header cells are on top */
.cdk-header-cell.cdk-column-rank,
.cdk-header-cell.cdk-column-name {
  background-color: var(--mat-sys-surface-container-high);
  z-index: 3; /* Higher z-index for sticky header corner */
}

/// Column defintions
.cdk-column-rank {
  width: 60px;
}

.cdk-column-boat {
  width: 120px;
}

.cdk-column-club {
  width: 100px;
}

.cdk-column-handicap {
  width: 60px;
}

.cdk-column-total {
  width: 50px;
    text-align: center;
}

 .cdk-column-net {
  width: 50px;
   text-align: center;
 }

.race-col {
  text-align: center;
  min-width: 60px;
  width: 60px;
}

.pointer {
  cursor: pointer;
}

.discarded {
  color: var(--mat-sys-color-on-surface-variant);
}

.rank-oval {
  width: 30px;
  height: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--mat-sys-color-on-primary);
}

.rank-1 {
  background-color: #FFD700; // Gold
}

.rank-2 {
  background-color: #C0C0C0; // Silver
}

.rank-3 {
  background-color: #CD7F32; // Bronze
}
