<form>
 <!-- <form [formGroup]="formGroup1">
-->

  <ion-item-divider>
    <ion-label>
      Scoring
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Scheme</ion-label>
    <ion-select formControlName="scheme">
      <ion-select-option>ISAF2017 Short Series</ion-select-option>
      <ion-select-option>ISAF2017 Long Series</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item-group formGroupName="discards">

    <ion-item>
      <ion-label>Initial discards</ion-label>
      <ion-input type="number" formControlName="initialDiscardAfter"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Subsequent discards</ion-label>
      <ion-input type="number" formControlName="subsequentDiscardsEveryN"></ion-input>
    </ion-item>

  </ion-item-group>

  <ion-item-group formGroupName="ood">

    <ion-item>
      <ion-label>Max OOD per series</ion-label>
      <ion-input type="number" formControlName="maxPerSeries"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>OOD algorithm</ion-label>
      <ion-select formControlName="oodAlgorithm">
        <ion-select-option>Average including discards</ion-select-option>
        <ion-select-option>Average excluding discards</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Max OOD per series</ion-label>
      <ion-input type="number" formControlName="maxPerSeries"></ion-input>
    </ion-item>

  </ion-item-group>

</form>
