rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access, but must be logged in to write/create
    match /{document=**} {
      allow read: if true
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null;
    }
  }
}