rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  function isSYSAdmin(request, database) {
    return request.auth.uid == request.auth.token.admin == true;
   }

  function isAdmin(request) {
    return request.auth.uid == "l8Rex76EDGTME2i44gbpcF7EKOH2" || request.auth.token.admin == true;
  }

   // Check that database name is the tenant Id
   function isLoggedOn(request, database) {
     return request.auth.token.firebase.tenant == database && request.auth != null;
   }

    // Club data - Allow public read access. Must be logged into tenant to create or modify
    match /clubs/{documents=**} {
      allow read: if true
      allow create: if isLoggedOn(request, database);
      allow update, delete: if isLoggedOn(request, database);
    }

   function validUserUpdate(old, new) {
     return old.key  == new.key;
   }
    match /users/{userId} {
      allow create: if isLoggedOn(request, database);
      allow read, delete: if isLoggedOn(request, database) && (request.auth.uid == userId || isAdmin(request));
      allow update: if isLoggedOn(request, database) && (request.auth.uid == userId || isAdmin(request)) && validUserUpdate(request.resource.data,resource.data);
    }
  }
}
