<!-- Large size - use card limited to 300px width -->
<ion-card *ngIf="platform.width() > 400">

  <ion-card-header>
    <ion-card-title>
      {{title}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ng-container *ngTemplateOutlet="content" ></ng-container>
  </ion-card-content>

</ion-card>

<!-- Small size - full width without card -->
<ng-container *ngIf="platform.width() <= 400">
  <ng-container *ngTemplateOutlet="content" ></ng-container>
</ng-container>


<ng-template #content>
  <ng-content></ng-content>
</ng-template>
