.page-container {
   display: grid;
   grid-template-areas:
      "toolbar toolbar"
      "sidebar content";
   grid-template-columns: 300px 1fr;
   /* Desktop default */
   grid-template-rows: auto 1fr;
   height: 100vh;
   transition: grid-template-columns 0.3s ease-in-out;
}

.page-container.panel-collapsed {
   grid-template-columns: 0px 1fr;
}

.page-container.mobile-mode {
   grid-template-areas:
      "toolbar"
      "content";
   grid-template-columns: 1fr;
   /* Sidebar is hidden, content takes all */
}

.toolbar-area {
   grid-area: toolbar;
}

.sidebar {
   grid-area: sidebar;
   border-right: 1px solid #eee;
   overflow-y: auto;
   overflow-x: hidden;
   /* Hide content as it collapses */
}

.content-area {
   grid-area: content;
   position: relative;
   /* For positioning the toggle button */
   display: flex;
   justify-content: center;
   /* Center the tables-container horizontally */
   overflow: auto;
   padding: 2rem;
}

.tables-container {
   width: 100%;
    max-width: 1200px; /* Max width for the tables */
  }

  .panel-toggle-button {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 10;
  }