<ion-header>
  <app-toolbar-menu title="Finish"> </app-toolbar-menu>
</ion-header>

<ion-segment (ionChange)="viewChanged($event)" value="fleet">
  <ion-segment-button value="fleet">Fleet</ion-segment-button>
  <ion-segment-button value="expected">Expected</ion-segment-button>
  <ion-segment-button value="finished">Finished</ion-segment-button>
</ion-segment>

<ion-content>

  <!-- Racing -->
  <ion-grid fixed="true">

    <ng-container *ngIf="segment !== 'finished'; else finished">

      <ion-list>
        <!-- Approaching -->
        <ion-item-divider>Approaching</ion-item-divider>
        <app-finish-list-item *ngFor="let result of approaching" [result]="result" (lap)="lap($event)"
          (finish)="finish($event)" (approaching)="addApproaching($event)" (top)="top($event)"
          (retired)="retired($event)">
        </app-finish-list-item>

        <!-- All -->
        <ion-item-divider>All</ion-item-divider>
        <app-finish-list-item *ngFor="let result of racing$ | async" [result]="result" (lap)="lap($event)"
          (finish)="finish($event)" (approaching)="addApproaching($event)" (top)="top($event)"
          (retired)="retired($event)" (didNotStart)="didNotStart($event)">
        </app-finish-list-item>
      </ion-list>
    </ng-container>

    <!-- Finished -->
    <ng-template #finished>
      <ion-list>
        <app-finish-list-item-finished *ngFor="let result of finished$ | async" [result]="result"
          (stillRacing)="stillRacing($event)">
        </app-finish-list-item-finished>
      </ion-list>
    </ng-template>

  </ion-grid>
</ion-content>
