<ion-header>
  <app-toolbar-menu title="Finish">
  </app-toolbar-menu>
</ion-header>

<ion-segment>
  <ion-segment-button>Fleet</ion-segment-button>
  <ion-segment-button>Expected</ion-segment-button>
  <ion-segment-button>Finished</ion-segment-button>
</ion-segment>

<ion-content>
  <ion-list>
    <app-finish-list-item *ngFor="let comp of competitors"
          [comp]="comp" (lap)="lap()" (finish)="finish()"
          (approaching)="approaching()" (top)="top()">

    </app-finish-list-item>
  </ion-list>
</ion-content>
