<app-toolbar title="Seasons"></app-toolbar>

<div class="content">

  @if (cs.isLoading()) {
  <app-loading-centered />
  } @else {
  <div class="search-bar">
    <mat-form-field class="search" appearance="outline">
      <mat-label>Search Seasons</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Search by name">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <a matButton="tonal" class="right-justify" routerLink="add">
      New
    </a>
  </div>

  <mat-list>
    @for (season of filteredSeasons(); track season.id) {
    <mat-list-item [routerLink]="['edit', season.id]">
      <span matListItemTitle>{{ season.name }}</span>
      <span matListItemMeta>
        <button matIconButton [routerLink]="['edit', season.id]" (click)="$event.stopPropagation()">
          <mat-icon class="green">edit</mat-icon>
        </button>
        <button matIconButton (click)="deleteSeason(season); $event.stopPropagation()">
          <mat-icon class="warning">delete</mat-icon>
        </button>
      </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    } @empty {
    <mat-list-item>
      <span matListItemTitle>No seasons found</span>
    </mat-list-item>
    }
  </mat-list>
  }
</div>