<ion-header>
  <app-toolbar-menu title="Enter">

  </app-toolbar-menu>

  <ion-toolbar color=dark>
    <ion-buttons>
      <ion-button *ngIf="(stepper.selectedIndex !== raceStep)" (click)=previous()>Previous</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="(stepper.selectedIndex !== confirmStep)" [disabled]=disabled() (click)=next()>Next</ion-button>
      <ion-button *ngIf="(stepper.selectedIndex === confirmStep)" (click)=saveEntries()>Confirm Entry</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid fixed="true">

    <ion-stepper #stepper>

      <ion-step label="Races" description="Select races to enter">
        <app-select-races filter='Today' (raceSelected)=selectRaces($event)></app-select-races>
      </ion-step>

      <ion-step label="Boat" description="Select boat">
        <app-boat-select (selected)="boat = $event"></app-boat-select>
      </ion-step>

      <ion-step label="Confirm" description="Confirm entry">

        <ion-list *ngFor="let comp of competitors; index as i">
          <app-confirm-entry [competitor]="comp" [race]="races[i]" [fleet]="getFleet(races[i].fleetId)">
          </app-confirm-entry>
        </ion-list>

      </ion-step>

    </ion-stepper>
  </ion-grid>

</ion-content>
